@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Minion Pro';
	font-size: 18px;
}

body{
	background-color: #e6e6e6;
}

h1{
	color: #C71610;
	font-family: 'Century Gothic';
	font-size: 26px;
}

h2{
	color: #FFBA02;
	font-family: 'MS sans serif';
	font-size: 24px;
}

h3{
	color: #0E0E0E;
	font-family: 'Minion Pro Bold';
	font-size: 22px;
}

.wrapper{
	width: 70%;
	margin: 0 auto;
    min-width: 768px;
}

.header{
	width: 100%;
	height: 125px;
	margin-bottom: 0px;
    background-image: url('http://www.degordian.com/education/wp-upload/2015/02/facebook-benchmark-2014_cover-1024x381.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo{
    background-image: url('../images/logo/Logo.png');
    background-repeat: no-repeat;
    height: 110px;
    width: 400px;
    float: left;
    margin-left: -20px;
    vertical-align: middle;
}

.cart{
    background-image: url('../images/winkelwagen.png');
    background-repeat: no-repeat;
    width: 6%;
    height: 50%;
    background-size: 100% 100%;
    float: right;
    margin-top: 35px;
    margin-right: 50px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 

}

.cart:hover {
    background-image: url('../images/winkelwagen_red.png');
}

.content_wrapper{
	background-color: #9D9D9D;
	height: 490px;

	overflow-y: auto;
	margin-top: 10px;
	float: right;
	width: 73%;
	padding: 1%;
}

.full_width{
	width: 100%;
}

.procent_75{
	float: left;
	width: 74%;
}

.procent_50{
    float: left;
    width: 50%;
}

.procent_33{
    float: left;
    width: 32.3%;
}

.procent_25{
	float: left;
	width: 24%;
}

li{
	list-style-type: none;
}

a:visited{
	border: none;
}

.footer{
	width: 100%;
	clear: both;
	background: #c71610;
}

.footer table{
	width: 100%;
}

.footer td{
	text-align: center;
}

.offers h1{
    float: left;
}

.offer_images{
	display: block;
	float: left;
	height: 150px;
	width: 100%;
}

.offers .offer_images img{
	
	height: 50%;
	border: 1px solid #0e0e0e;
}

.subscript{
    font-size: 12px;
}

.homemessage{
    padding-right: 10px;
}

.lborder{
    border-left: 1px solid black;
    padding-left: 10px;
}




/* begin main-menu */

.menu{
    width: 24%;
    float: left;
   
}

.ca-menu{
    padding: 0;
    margin: 10px auto;
    width: 100%;
    
}
.ca-menu li{
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: block;
    background: #C71610;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);

    margin-bottom: 4px;
    /* -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out; */
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    
    min-height: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 25px;
    color: #0e0e0e;
    text-shadow: 0px 0px 1px #333;
    line-height: 70px;
    position: absolute;
    width: 90px;
    left: 5px;
    text-align: center;
    -webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.ca-content{
    position: relative;
    text-align: center;
    width: 100%;
    height: 60px;   
    top: 15px;
}
.ca-main{
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 23px;
    color: #FFF7F7;
   -webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.ca-sub{
    font-size: 14px;
    color: #666;
}
.ca-menu li:hover, .ca-menu .active{
    background-color: #0e0e0e;
}
.ca-menu li:hover .ca-icon, .ca-menu .active .ca-icon{
    color: #C71610;
    font-size: 120px;
    opacity: 1;
    left: -20px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}
.ca-menu li:hover .ca-main, .ca-menu .active .ca-main{
    color: #FFF7F7;
    opacity: 1;
}

/* einde main-menu */