@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Minion Pro';
	font-size: 18px;
}

button{
    width: 100%;
    height: 40px;
    background: #FFBA02;
    border-top: 2px solid #C71610;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear; 
}

button:hover{
    background: #FF5400;
    cursor: pointer;
}

button:active{
    background: #C71610;

}

body{
    background: url('../images/beige_paper.png');
}

h1{
	color: #C71610;
	font-family: 'Century Gothic';
	font-size: 26px;
}

h2{
	color: #FFBA02;
	font-family: 'MS sans serif';
	font-size: 24px;
}

h3{
	color: #0E0E0E;
	font-family: 'Minion Pro Bold';
	font-size: 22px;
}

form{
    width: 100%;
}

form{
    margin-top: 15px;
}

input, select, textarea{
    width: 100%;
    margin-bottom: 10px;
}


.wrapper{
	width: 70%;
	margin: 0 auto;
    min-width: 768px;
}

.header{
	width: 100%;
	height: 125px;
	margin-bottom: 0px;
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo{
    background-image: url('../images/logo/LOGO_GOED_Website_PC4U.png');
    background-repeat: no-repeat;
    height: 120px;
    width: 400px;
    float: left;
    vertical-align: middle;
    background-size: 100% 100%;
}

.cart{
    background-image: url('../images/winkelwagen.png');
    background-repeat: no-repeat;
    width: 6%;
    height: 50%;
    background-size: 100% 100%;
    float: right;
    margin-top: 35px;
    margin-right: 50px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 

}

.cart:hover {
    background-image: url('../images/winkelwagen_red.png');
    -webkit-transform: translate(-15%,0);
            -moz-transform: translate(-15%,0);
            -o-transform: translate(-15%,0);
            -ms-transform: translate(-15%,0);
}

.content_wrapper{
	background: rgba(157, 157, 157, 0.5);
    border: 3px solid rgba(157, 157, 157, 0.75);
	height: 484px;

	overflow-y: auto;
	margin-top: 10px;
	float: right;
	width: 73%;
	padding: 1%;
	padding-bottom: -5px;
}

.full_width{
	width: 100%;
    overflow: hidden;
}

.procent_75{
	float: left;
	width: 74%;
    overflow: hidden;
}

.procent_50{
    float: left;
    width: 49%;
    overflow: hidden;

}

.procent_33{
    float: left;
    width: 32.3%;
    overflow: hidden;
}

.procent_25{
	float: left;
	width: 24%;
    overflow: hidden;
}

.border3d{
    border-left: 5px rgba(0,0,0,0.5)  solid;
    border-radius: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: -5px 0px 10px 0px #aaaaaa;
    background: rgba(175, 175, 175, 0.5);
    
}

li{
	list-style-type: none;
}

a:visited{
	border: none;
}

.offers h1{
    float: left;
}

.offer_images{
	display: block;
	float: left;
	height: 150px;
	width: 100%;
    margin-top: 5px;
}

.offers .offer_images img{
	width: 19%;
            height: 95%;
            margin-top: 5px;
	border: 1px solid #0e0e0e;
}

.subscript{
    font-size: 12px;
}

.homemessage{
    padding-right: 10px;
}

.lborder{
    border-left: 1px solid black;
    padding-left: 10px;
}


/* scroll  bar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2)
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
}

        .positioning{
            margin-top: 20px;   
        }

        .positioning li {
            padding: 3px;
        }


/* begin main-menu */

.menu{
    width: 24%;
    float: left;
   
}

.ca-menu{
    padding: 0;
    margin: 10px auto;
    width: 100%;
    
}
.ca-menu li{
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: block;
    background: #C71610;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);

    margin-bottom: 4px;
    /* -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out; */
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    
    min-height: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 25px;
    color: #0e0e0e;
    text-shadow: 0px 0px 1px #333;
    line-height: 70px;
    position: absolute;
    width: 90px;
    left: 5px;
    text-align: center;
    -webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.ca-content{
    position: relative;
    text-align: center;
    width: 100%;
    height: 60px;   
    top: 15px;
}
.ca-main{
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 23px;
    color: #FFF7F7;
   -webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.ca-sub{
    font-size: 14px;
    color: #666;
}
.ca-menu li:hover, .ca-menu .active{
    background-color: #0e0e0e;
}
.ca-menu li:hover .ca-icon, .ca-menu .active .ca-icon{
    color: #C71610;
    font-size: 120px;
    opacity: 1;
    left: -20px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}
.ca-menu li:hover .ca-main, .ca-menu .active .ca-main{
    color: #FFF7F7;
    opacity: 1;
}

/* einde main-menu */





        /* betalen.html */
                .paymentimage_wrapper {
            text-align: center;
            
        }

        .paymentimage_wrapper .paymentimage{
            width: 33%;
            height: 215px;
            display: inline-block;
            margin-bottom: 20px;
            border: 3px #000 solid;
            margin-left: 15px;

        }

        .paymentimage_wrapper .paymentimage img{
            width: 100%;
            height: 74%;
            background: #e6e6e6;
            vertical-align: middle;
        }

        /* betalingsbevestiging.html */
        .order {
            margin-top: 20px;
        }

        /* computer.html */
        .pc-images {
            text-align: center;
        }

        .pc-images img{
            width: 100%;
            height: 100%;
            background-color: #e6e6e6;          
        }   
        
        .pc-image {
            display: inline-block;
            border: 3px #000 solid;
            width: 30%;
            height: 40%;
            margin-bottom: 5px;

        }

        /* softhardware.html */
        .image_wrapper {
            text-align: center;
            
        }

        .image_wrapper .image{
            width: 20%;
            height: 20%;
            display: inline-block;
            margin-bottom: 20px;
            border: 3px #000 solid;

        }

        .image_wrapper .image img{
            width: 100%;
            height: 100%;
            background: #e6e6e6;
        }

        /* winkelwagen.html */
                .shopping-cart td {
            border: solid 1px #000;
            text-align: right;
            padding: 15px;
            font-size: 20px;
        }

        .shopping-cart table {
            float: right;
            text-align: right;
            width: 100%;
        }

        .shopping-cart-header { 
            text-align: center;
            margin-top: -8px;
            margin-bottom: 10px;
        }
    
        .cartactive {
            background-image: url(../images/winkelwagen_red.png);
       
        }
    
        .shopping-cart td.noborder  {
            border: none;
            background: #e6e6e6;
        }

        .shopping-cart{
            margin: auto;
            margin-top: 20px;
            width: 90%;
            background: #e6e6e6;
            border: 1px #000 solid;
            height: 400px;
            padding: 25px;
        }
        
        .shopping-cart tr:nth-child(odd) { 
            background: darkgrey;
        }

        .shopping-cart tr:nth-child(even){
            background: #d3d3d3;
        }
        
        button.btn_payment {
            margin-top: 20px;
            border-left: 1px solid red;
        } 

        /* gegevens.html */
                .orderinfo, .orderform{
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;         /* Opera/IE 8+ */
            padding: 10px;
        }

        .orderinfo p{
            margin-top: 15px;
        }  

        /* informatie */
                .about, .contactform{
            -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
            -moz-box-sizing: border-box;    /* Firefox, other Gecko */
            box-sizing: border-box;         /* Opera/IE 8+ */
            padding: 10px;
        }

        .about p{
            margin-top: 15px;
        }

        /* product.html */
                .productimg {
            width: 50%;
            height: 50%;
            background: rgba(230, 230, 230, 0.5);
            padding-left: 17% ;
            padding-right: 17% ;
        }

        .productimgs{
            text-align: center;
        }

        .thumbnails{
            display: inline-block;
            width: 100%;
            height: auto;
        }

        .thumbnail{
            width: 20%;
            height: 20%;
            display: inline-block;
        }

        .thumbnail img{
            width: 100%;
            height: 100%;
            background: rgba(230, 230, 230, 0.5);
            
        }

        .specs, .productinfo{
            padding: 15px;
        }

        .specs p, .productinfo p{
            margin-top: 7px;
        }

        .textcenter{
            text-align: center;
        }

        .price{
            
            text-align: center;
            font-size: 35px;
        }

        .buy{
            margin-top: 15px;
        }

        .specstable table td{
            border: 1px #000 solid;
        }

        .specstable{

            padding: 0px;
            overflow-y: auto;
            overflow-x: auto;
        }

        .specstable table{

            width: 100%;
            margin: 0 auto;
            margin-top: 10px;
        }

        .specstable td{
            font-size: 15px;
            width: 10%;
            padding-left: 10px;
            padding-right: 10px;
        }

        .specstable tr:nth-child(even){
            background: #c71610;
            color: #e6e6e6;
        }

        .specstable tr:nth-child(odd){
            background: #ff5400;
        }

        /* full image */
        #fullImage_cover{
            position:fixed;
            top:0;
            left:0;
            background: rgba(199, 22, 16, 0.8);
            z-index:5;
            width:100%;
            height:100%;
            display:none;
        }
        #fullImage
        {
            height:500px;
            width:500px;
            margin:0 auto;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index:10;
            display:none;
            background: url(images/pc-image2.png) no-repeat;
            background-size: 100% 100%;
            background-color: #cccccc;
            border:5px solid #A4A4A4;
            border-radius:10px;
            margin-left: -250px;
            margin-top: -250px;

        }
        #fullImage:target, #fullImage:target + #fullImage_cover{
            display:block;
            opacity:2;
        }
        .fullImage_cancel {
            display:block;
            position:absolute;
            top:3px;
            right:2px;
            color:black;
            height:30px;
            width:35px;
            font-size:30px;
            text-decoration:none;
            text-align:center;
            font-weight:bold;
        }

        .fullImage_cancel:hover{
            color: #c71610;
        }

        /* reparatie.html */

        .main-content {
            margin: auto;
            height: 100%;
            display: flex;
            
        }

        .primary-section {
            border-right: solid black 1px;
            width: 60%;
            height: 100%;

        }

        .secundary-section {
            width: 40%;
            height: 95%;
            padding: 15px;
        
        }
        
        .secundary-section, .primary-section img {
            width: 65%;
            height: 38%;
            display: block;
            margin-left: auto;
            margin-right: auto
        }

        .table-primary {
            margin: 0 auto;
            margin-top: 10px;
        }

        .table-primary td{
            padding: 20px;

        }

        .primary-h {
            text-align: center;
        }

        .secundary-h {
            text-align: center;
        }

        .secundary-section p{
            text-align: center;
        }

        .primary-section h2 {
            text-shadow: 0px 0px 10px #0e0e0e;
}
        .primary-section img {
            background: #e6e6e6;
            margin-bottom: 5px;
            border: 3px #000 solid;
        }
}

/* reparatie.html */
        
        .main-content {
            margin: auto;
            height: 100%;
            display: flex;
            
        }

        .primary-section {
            border-right: solid black 1px;
            width: 60%;
            height: 100%;

        }

        .secundary-section {
            width: 40%;
            height: 95%;
            padding: 15px;
        
        }
        
        .reparation {
            width: 65%;
            height: 38%;
            display: block;
            margin-left: auto;
            margin-right: auto
        }

        .table-primary {
            margin: 0 auto;
            margin-top: 10px;
        }

        .table-primary td{
            padding: 20px;

        }

        .primary-h {
            text-align: center;
        }

        .secundary-h {
            text-align: center;
        }

        .secundary-section p{
            text-align: center;
        }

        .primary-section h2 {
            text-shadow: 0px 0px 10px #0e0e0e;
}
        .primary-section img {
            background: #e6e6e6;
            margin-bottom: 5px;
            border: 3px #000 solid;
        }
        .reparation_info li {
            margin-top: 20px;
            padding-left: 5px;
        }

/* controle.html */
    .wrapper-table {
            width: 95%;
            
            height: 445px;
            padding: 20px;
        }

        .primary-table td, .primary-table tr{
            border: 1px solid black;
            padding: 6px;
            width: 600px;
            text-align: right;
            font-size: 20px ;       
        }

        .primary-table table {
            width: 100%;
            float: right;
        }
        
        td.noborder {
            border: none;
            background-color: rgba(175, 175, 175, 0.5);
            
        }

        .primary-table tr:nth-child(odd){
            background: darkgrey;
        }

        .primary-table tr:nth-child(even){
            background: #d3d3d3;
        }

        p.paragraph {
            margin-top: 25px;
            font-size: 20px;
        }

        table.secundary-table{
            margin-top: 10px;
        }

        .fr{ 
            float: right;
        }

        .wrapper-data-note {
            padding: 15px;
            overflow: visible;
        }
        

        .data-control {
            float: left;
            margin-bottom: 20px;
            margin-top: 25px;       
        }

        .note{
            
            border-left: solid black 1px;
            padding: 5px;
            margin-top: -11px;
            height: 100%;
            float: left;
            margin-top: 18px;
            
        }
        
        .different-button {
            text-align: center;
            width: 99%;
            margin-top: 2px;
            margin-left: 3px;
        
        }
        
        blockquote {
            background-image: url(../images/note.png);
            height: 150px;
            background-size: 100% 100%;
            
        }
        p.secundary-paragraph {
            line-height: 23px;
            font-size: 20px;
            margin-top: 4px;
        }
        
        .buttons {
            width: 100%;            
            float: right;
            min-width: 150px;
            margin-right: -15px;
            margin-top: 8px;                                        
        }

/* footer */
        .copyright{
            float: left;
        }

        .madeby{
            float: right;
        }
        .footer{
            background-color: rgba(199, 22, 16, 0.9);
            overflow: hidden;
            padding: 5px;
        }

        .footer_info{
            background-color: rgba(14, 14, 14, 0.75);
            color: #FFF7F7;
            overflow: hidden;
        }

        .contactinfo ul li, .openinghours ul li{
            margin-bottom: 2px;
        }

        .contactinfo ul{
            margin-bottom: 20px;
        }

        .footer_info h2, .socialicon{
            margin-bottom: 15px;
        }

        .footer_info{
            padding: 20px 20px 10px 20px;
        }

        .socialicon, .payment{
            float: left;
            margin-right: 20px;
        }

        .payment{
            margin-bottom: 10px;
            width: 65px;
        }

        .payment img{
            height: 75px;
            width: 75px;
        }

        .socialicon{
                -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
        }

        .socialicon:hover{
             -webkit-transform: translate(0,-25%);
            -moz-transform: translate(0,-25%);
            -o-transform: translate(0,-25%);
            -ms-transform: translate(0,-25%);
            background-color: darkgrey;

        }