@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('websymbols/websymbols-regular-webfont.eot');
    src: url('websymbols/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('websymbols/websymbols-regular-webfont.woff') format('woff'),
        url('websymbols/websymbols-regular-webfont.ttf') format('truetype'),
        url('websymbols/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Minion Pro';
	font-size: 18px;
}

button{
    width: 100%;
    height: 40px;
    background: #FFBA02;
    border-top: 2px solid #C71610;
    -webkit-transition: all 100ms linear;
    -moz-transition: all 100ms linear;
    -o-transition: all 100ms linear;
    -ms-transition: all 100ms linear;
    transition: all 100ms linear; 
}

button:hover{
    background: #FF5400;
    cursor: pointer;
}

button:active{
    background: #C71610;

}

body{
    background: url('../images/beige_paper.png');
}

h1{
	color: #C71610;
	font-family: 'Century Gothic';
	font-size: 26px;
}

h2{
	color: #FFBA02;
	font-family: 'MS sans serif';
	font-size: 24px;
}

h3{
	color: #0E0E0E;
	font-family: 'Minion Pro Bold';
	font-size: 22px;
}

form{
    width: 100%;
}

form{
    margin-top: 15px;
}

input, select, textarea{
    width: 100%;
    margin-bottom: 10px;
}


.wrapper{
	width: 70%;
	margin: 0 auto;
    min-width: 768px;
}

.header{
	width: 100%;
	height: 125px;
	margin-bottom: 0px;
    background-image: url('http://www.degordian.com/education/wp-upload/2015/02/facebook-benchmark-2014_cover-1024x381.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo{
    background-image: url('../images/logo/LOGO_GOED_Website_PC4U.png');
    background-repeat: no-repeat;
    height: 120px;
    width: 400px;
    float: left;
    vertical-align: middle;
    background-size: 100% 100%;
}

.cart{
    background-image: url('../images/winkelwagen.png');
    background-repeat: no-repeat;
    width: 6%;
    height: 50%;
    background-size: 100% 100%;
    float: right;
    margin-top: 35px;
    margin-right: 50px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 

}

.cart:hover {
    background-image: url('../images/winkelwagen_red.png');
    -webkit-transform: translate(-15%,0);
            -moz-transform: translate(-15%,0);
            -o-transform: translate(-15%,0);
            -ms-transform: translate(-15%,0);
}

.content_wrapper{
	background: rgba(157, 157, 157, 0.5);
    border: 3px solid rgba(157, 157, 157, 0.75);
	height: 484px;

	overflow-y: auto;
	margin-top: 10px;
	float: right;
	width: 73%;
	padding: 1%;
	padding-bottom: -5px;
}

.full_width{
	width: 100%;
    overflow: hidden;
}

.procent_75{
	float: left;
	width: 74%;
    overflow: hidden;
}

.procent_50{
    float: left;
    width: 49%;
    overflow: hidden;

}

.procent_33{
    float: left;
    width: 32.3%;
    overflow: hidden;
}

.procent_25{
	float: left;
	width: 24%;
    overflow: hidden;
}

.border3d{
    border-left: 5px rgba(0,0,0,0.5)  solid;
    border-radius: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: -5px 0px 10px 0px #aaaaaa;
    background: rgba(175, 175, 175, 0.5);
    
}

li{
	list-style-type: none;
}

a:visited{
	border: none;
}

.offers h1{
    float: left;
}

.offer_images{
	display: block;
	float: left;
	height: 150px;
	width: 100%;
}

.offers .offer_images img{
	
	border: 1px solid #0e0e0e;
    border-bottom: 1px black solid;
}

.subscript{
    font-size: 12px;
}

.homemessage{
    padding-right: 10px;
}

.lborder{
    border-left: 1px solid black;
    padding-left: 10px;
}


/* scroll  bar */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2)
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1); 
}


/* begin main-menu */

.menu{
    width: 24%;
    float: left;
   
}

.ca-menu{
    padding: 0;
    margin: 10px auto;
    width: 100%;
    
}
.ca-menu li{
    width: 100%;
    height: 100px;
    overflow: hidden;
    position: relative;
    display: block;
    background: #C71610;
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);

    margin-bottom: 4px;
    /* -webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out; */
}
.ca-menu li a{
    text-align: left;
    width: 100%;
    
    min-height: 100%;
    height: 100%;
    display: block;
    color: #333;
    position: relative;
}
.ca-icon{
    font-family: 'WebSymbolsRegular', cursive;
    font-size: 25px;
    color: #0e0e0e;
    text-shadow: 0px 0px 1px #333;
    line-height: 70px;
    position: absolute;
    width: 90px;
    left: 5px;
    text-align: center;
    -webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.ca-content{
    position: relative;
    text-align: center;
    width: 100%;
    height: 60px;   
    top: 15px;
}
.ca-main{
    font-size: 15px;
    text-transform: uppercase;
    padding-top: 23px;
    color: #FFF7F7;
   -webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.ca-sub{
    font-size: 14px;
    color: #666;
}
.ca-menu li:hover, .ca-menu .active{
    background-color: #0e0e0e;
}
.ca-menu li:hover .ca-icon, .ca-menu .active .ca-icon{
    color: #C71610;
    font-size: 120px;
    opacity: 1;
    left: -20px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}
.ca-menu li:hover .ca-main, .ca-menu .active .ca-main{
    color: #FFF7F7;
    opacity: 1;
}

/* einde main-menu */

        .copyright{
            float: left;
        }

        .madeby{
            float: right;
        }
        .footer{
            background-color: rgba(199, 22, 16, 0.9);
            overflow: hidden;
            padding: 5px;
        }

        .footer_info{
            background-color: rgba(14, 14, 14, 0.75);
            color: #FFF7F7;
            overflow: hidden;
        }

        .contactinfo ul li, .openinghours ul li{
            margin-bottom: 2px;
        }

        .contactinfo ul{
            margin-bottom: 20px;
        }

        .footer_info h2, .socialicon{
            margin-bottom: 15px;
        }

        .footer_info{
            padding: 20px 20px 10px 20px;
        }

        .socialicon, .payment{
            float: left;
            margin-right: 20px;
        }

        .payment{
            margin-bottom: 10px;
            width: 65px;
        }

        .payment img{
            height: 100%;
            width: 100%;
        }

        .socialicon{
                -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear; 
        }

        .socialicon:hover{
             -webkit-transform: translate(0,-25%);
            -moz-transform: translate(0,-25%);
            -o-transform: translate(0,-25%);
            -ms-transform: translate(0,-25%);
            background-color: darkgrey;

        }